body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: local var(--body-img) no-repeat center var(--body-bg);
    transition: background 500ms ease-in-out, background-color 500ms ease-in-out, color 1000ms ease-in-out, opacity 1000ms ease-in-out;
}
a {
    cursor: pointer;
}
a:hover, a:focus {
    color: var(--link-text);
}


.nav {
    overflow: hidden;
    background-color: var(--nav-bg);
    transition: opacity 1000ms ease-in-out, color 500ms ease-in-out, background 1000ms ease-in-out;
    backdrop-filter: blur(10px);
}
.nav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.nav a:hover {
    background: var(--nav-link-hover-05);
    color: var(--text-color);
}
  
.nav a.active {
    background: var(--accent);
    color: var(--text-color);
}
  
.nav .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
}
.resp-text {
    position: absolute;
    opacity: 0;
}
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: var(--text-color);
    }
}
.right {
    float: right;
}
.left {
    float: left;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.page {
    width: 90%;
    height: 88vh;
    background-color: var(--bg-page);
    border: var(--accent) 2px solid;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}




.light {
    --nav-bg: #cecece80;
    --accent: #00aeff;
    --link-text: #00aeff;
    --nav-link-hover: #49c5ff;
    --nav-link-hover-05: #49c5ff80;
    --text-color: #000000;
    --body-bg: #ffffff;
    --theme-icon-dark: 0;
    --theme-icon-light: 1;
    --bg-page: #dddddd80;
    --body-img: url('/assets/img/light.jpg');
}
.dark {
    --nav-bg: #00000080;
    --accent: #ae00ff;
    --link-text: #ae00ff;
    --nav-link-hover: #7900b1;
    --nav-link-hover-05: #7900b180;
    --text-color: #ffffff;
    --body-bg: #222222;
    --theme-icon-dark: 1;
    --theme-icon-light: 0;
    --bg-page: #3f3f3f80;
    --body-img: url('/assets/img/dark.jpg');
}