*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--body-img) no-repeat top center var(--body-bg);
    background-attachment: scroll;
    background-size: cover;
    transition: background 500ms ease-in-out, background-color 500ms ease-in-out, color 1000ms ease-in-out, opacity 1000ms ease-in-out;
}
a {
    cursor: pointer;
}
a:hover, a:focus {
    color: var(--link-text);
}
h1 {
    font-size: 72pt;
}
h2 {
    font-size: 48pt;
}
h3 {
    font-size: 36pt;
}
h4 {
    font-size: 26pt;
}
h5 {
    font-size: 22pt;
}
h6 {
    font-size: 18pt;
}
p {
    font-size: 16pt;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}


.nav {
    overflow: hidden;
    background-color: var(--nav-bg);
    transition: opacity 500ms ease-in-out, color 1s ease-in-out, background 1000ms ease-in-out, background 500ms ease-in-out;
    backdrop-filter: blur(10px);
}
.nav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.nav a:hover {
    background: var(--nav-link-hover-05);
    color: var(--text-color);
}
  
.nav a.active {
    background: var(--accent);
    color: var(--text-color);
}
  
.nav .icon {
    display: none;
}
.resp-text {
    position: absolute;
    opacity: 0;
}
.right {
    float: right;
}
.left {
    float: left;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: background 500ms ease-in-out;
}

.page {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    background: var(--bg-page);
    border: var(--accent) 2px solid;
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    backdrop-filter: blur(10px);
}
.animated-text {
    background-image: linear-gradient(225deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4), var(--grad5));
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textanim 2s linear infinite;
    display: inline-block;
  
}
@keyframes textanim {
    to {
        background-position: 200% center;
    }
}
.glow {
    color: var(--text-color);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}






::-moz-selection {
    color: var(--accent);
    background: var(--accent-025);
}
::selection {
    color: var(--accent);
    background: var(--accent-025);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #808080;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}
  
.light {
    --nav-bg: #cecece80;
    --accent: #00aeff;
    --accent-025: #00aeff3d;
    --link-text: #00aeff;
    --nav-link-hover: #49c5ff;
    --nav-link-hover-05: #49c5ff80;
    --text-color: #000000;
    --body-bg: #ffffff;
    --theme-icon-dark: 0;
    --theme-icon-light: 1;
    --bg-page: #dddddd80;
    --body-img: url('/assets/img/light.jpg');
    --grad1: #00aeff;
    --grad2: #00ffbf;
    --grad3: #ffe600;
    --grad4: #00ffbf;
    --grad5: #00aeff;
}
.dark {
    --nav-bg: #00000080;
    --accent: #ae00ff;
    --accent-025: #ae00ff3d;
    --link-text: #ae00ff;
    --nav-link-hover: #7900b1;
    --nav-link-hover-05: #7900b180;
    --text-color: #ffffff;
    --body-bg: #222222;
    --theme-icon-dark: 1;
    --theme-icon-light: 0;
    --bg-page: #3f3f3f80;
    --body-img: url('/assets/img/dark.jpg');
    --grad1: #ae00ff;
    --grad2: #00aeff;
    --grad3: #ff00ae;
    --grad4: #00aeff;
    --grad5: #ae00ff;
}